
/* HAMDAN: code for SIDE MENU ! */

#menu1 a {
	color: black;
	background-color: white;
	text-decoration: none;
	text-indent: 1ex;
}

#menu1 a:active {
	color: black;
	text-decoration: none;
}

#menu1 a:hover {
	color: black;
	background-color: #FFFF99
}

#menu1 a:visited {
	color: black;
	text-decoration: none;
}
